*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  background: transparent;
  border: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#root,
#__next {
  isolation: isolate;
}

@media (max-width: 768px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 57.5%;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 52.5%;
  }
}

@media (max-width: 280px) {
  html {
    font-size: 50%;
  }
}
